<ion-view title="Notification Details">
    <ion-content>
        <div class="contact-banner" ng-if="notification.ImageURL">
            <img ng-src="{{notification.ImageURL}}" width="100%" height="100%" />
        </div>
        <div class="list" style="margin:0px;">
            <div class="item">
                <h2>{{notification.Title}}</h2>
                <p><i class="icon ion-calendar custom"></i>&nbsp;{{notification.CreatedAt | date: 'dd/MMM/yyyy'}}</p>
            </div>
            <div class="item item-body">
                <p>{{notification.Description}}</p>
            </div>
        </div>
        <iframe ng-if="notification.VideoURL" width="100%" height="202px" src="{{notification.VideoURL}}" frameborder="0" allowfullscreen></iframe>
    </ion-content>
</ion-view>