<ion-view title="{{contactDetails.Name}}">
    <ion-content>
        <div class="contact-banner">
            <img ng-src="{{contactDetails.ImageURL}}" width="100%" height="100%" />
        </div>
        <div class="list">
            <div class="item item-button-right" ng-if="contactDetails.Area">
                <h2>{{contactDetails.Area}}</h2>
            </div>
            <a class="item item-icon-right" ng-if="contactDetails.Address" href ng-click="navigate(contactDetails.Address)">
                <h2>{{contactDetails.Address}} - Tap to navigate</h2>
                <i class="icon ion-navigate custom"></i>
            </a>
            <a class="item item-icon-right" ng-if="contactDetails.PhoneNumber" href ng-click="call(contactDetails.PhoneNumber)">
                <h2>{{contactDetails.PhoneNumber}} - Tap to call</h2>
                <i class="icon ion-ios-telephone custom"></i>
            </a>
        </div>
    </ion-content>
</ion-view>