<ion-view title="Add Contact">
    <ion-content>
        <div class="list">
            <form name="eventForm">
                <label class="item item-input item-select">
                    <div class="input-label custom">
                        Choose Category
                    </div>
                    <select ng-model="newContact.CategoryId" ng-options="category.Id as category.Name for category in categories" ng-change="courseSelected(selected.course)">
                        <option value="">--pick one--</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label custom">Contact Name</span>
                    <input type="text" name="eventName" placeholder="Contact Name" ng-model="newContact.Name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label custom">Contact Phone Number</span>
                    <input type="number" name="phoneNumber" placeholder="Contact Phone Number" ng-model="newContact.PhoneNumber">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label custom">Area</span>
                    <input type="text" name="eventName" placeholder="Area" ng-model="newContact.Area">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label custom">Address</span>
                    <textarea placeholder="Address" name="address" rows="5" class="textArea" ng-model="newContact.Address"></textarea>
                </label>
                <div class="row">
                    <div class="col">
                        <button class="button button-custom loginButton" ng-click="pickImage()">Choose Banner</button>
                    </div>
                </div>
                <div class="row" ng-if="newContact.ImageBytes">
                    <div class="col">
                        <img ng-src="{{newContact.ImageBytes}}" alt="No picture detected" width="100%;">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-custom loginButton" ng-click="create()">
                    Create
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>