<ion-view title="Emergency Contacts">
    <ion-content>
        <div class="list">
            <a class="item item-avatar item-icon-right" href ng-repeat="contact in contacts" ng-click="contactSelected(contact)">
                <img ng-src="{{Logo}}">
                <h2>{{contact.Name}}</h2>
                <p style="white-space:normal;">{{contact.Address}} {{contact.PhoneNumber}}</p>
                <i class="icon ion-chevron-right custom"></i>
            </a>
        </div>
    </ion-content>
</ion-view>