<ion-view title="Welcome, {{loggedInUser.Name}}" class="nav-title-slide-ios7">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-android-notifications" ng-click="notifications()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="true" class="banner-slider" ng-if="slides.length != 0">
            <ion-slide ng-repeat="slide in slides">
                <div class="box blue">
                    <img ng-src="{{slide.ImageURL}}" alt="" width="100%">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="card">
            <div class="item item-divider">
                Emergency Contacts
            </div>
            <div class="item" style="padding:0px;">
                <div class="row" ng-repeat="rows in categories">
                    <div class="category-item text-center" ng-repeat="category in rows" ng-click="emergencyCategorySelected(category)">
                        <img ng-src="{{category.LogoURL}}" alt="" class="category-image">
                        <div class="category-name">
                            {{category.Name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Offers
            </div>
            <div class="item" style="padding:0px;">
                <div class="row" ng-repeat="rows in offerCategories">
                    <div class="category-item text-center" ng-repeat="category in rows" ng-click="offerCategorySelected(category)">
                        <img ng-src="{{category.LogoURL}}" alt="" class="category-image">
                        <div class="category-name">
                            {{category.Name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>