<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-custom">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content class="sidemenu-content">
            <div class="sidemenu-header-container logo-image" menu-close ng-click="profile()">
                <button class="button button-clear button-dark pull-right" style="margin-top:46.5px;">
                    <i class="icon ion-arrow-right-b" style="color:white;"></i>
                </button>
                <div class="sidemenu-header">
                    <div ng-if="loggedInUser.PictureURL != null" class="logo-image profile-pic" ng-style="{'background-image':'url(' + loggedInUser.PictureURL + ')'}"></div>
                    <div ng-if="loggedInUser.PictureURL == null" class="logo-image profile-pic" style="background-image:url('app/images/man.png')"></div>
                </div>
                <div class="user-name">{{loggedInUser.Name}}</div>
            </div>
            <ion-list>
                <ion-item class="item-icon-left" menu-close href="#/home">
                    <i class="icon custom ion-home"></i> Home
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/addEmergencyContact" ng-if="loggedInUser.Role != 'STUDENT'">
                    <i class="icon custom ion-plus-round"></i> Create Emergency Contact
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/createOffer" ng-if="loggedInUser.Role != 'STUDENT'">
                    <i class="icon custom ion-plus-round"></i> Create Offer
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/sendNotification" ng-if="loggedInUser.Role != 'STUDENT'">
                    <i class="icon custom ion-android-notifications"></i> Send Notification
                </ion-item>
                <ion-item class="item-icon-left" menu-close href ng-click="logout()">
                    <i class="icon custom ion-power"></i> Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>